body {
    background: linear-gradient(135deg, #000000, #3498db);
    font-family: 'Poppins', sans-serif;
}
h1{
    text-align:center;
    color:white;
}
h2{
    font-family: 'Poppins', sans-serif;
    color:white;
}
p{
    font-family: 'Poppins', sans-serif;
    color:white;
}
ul{
    font-family: 'Poppins', sans-serif;
    color:white;
}
label{
    font-family: 'Poppins', sans-serif;
    color:white;
}
button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}